<form
		[formGroup]="fg"
		(ngSubmit)="guardar(
								fg.controls['nombre'].value,
								fg.controls['url'].value
					)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control"
    		id="nombre" placeholder="Ingresar nombre..."
          [formControl]="fg.controls['nombre']"> <br>
          <ul>
            <li *ngFor="let r of searchResults;"> {{r}} </li>
          </ul>
          <div *ngIf= "fg.controls['nombre'].hasError('required')" style="color: red;">Nombre Requerido!</div>
          <div *ngIf= "fg.controls['nombre'].hasError('invalidNombre')" style="color: rgb(156, 13, 149);">Nombre Invaldo!</div>
          <div *ngIf= "fg.controls['nombre'].hasError('minLongNombre')" style="color: rgb(30, 190, 30);">El nombre debe tener al menos {{minLongitud}} de largo </div>
  </div>
  <div class="form-group">
    <label for="Imagen Url">Imagen Url</label>
    <input type="text" class="form-control"
    		id="imagenUrl" placeholder="Ingresar url..."
    		[formControl]="fg.controls['url']">
  </div>
  <button type="submit" class="btn btn-primary" *ngIf = "fg.valid">Guardar!</button>
</form>